*.env
*.log
*.wav
*.mp3
.idea/
__pycache__/
.DS_Store
save/*.json
FinalSaves/*.json
*.mov
*.mp4
*.csv
*.avi
# *.png
*.jpg
*.docx
*.doc
AnalysisTools/EyeGazeDataTools/data/*
AnalysisTools/EyeGazeDataTools/figures/*
AnalysisTools/EyeGazeDataTools/data_processed/*
!AnalysisTools/EyeGazeDataTools/images/*
!/AnalysisTools/EyeGazeDataTools/image_component_analysis.py
AnalysisTools/EyeGazeDataTools/.ipynb_checkpoints/*
AnalysisTools/NLPTools/.ipynb_checkpoints/*
AnalysisTools/NLPTools/data/*
AnalysisTools/NLPTools/data_processed/*
venv/
*.ipynb linguist-vendored
team.png
